server {
  server_name api.utm.local localhost;

  # Docker DNS
  resolver 127.0.0.11;

  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-Host $http_host;
  proxy_set_header X-Forwarded-Port $server_port;

  location = / {
    return 302 /swagger-ui/;
  }

  location /drone/ {
    proxy_pass http://drone:8085/drone/;
  }

  location /api/v1/drones {
    proxy_pass http://drone:8085/drone/api/v1/drones;
  }

  location /hub/ {
    proxy_pass http://hub:8084/hub/;
  }

  location /api/v1/hubs {
    proxy_pass http://hub:8084/hub/api/v1/hubs;
  }

  location /flight/ {
    proxy_pass http://flight:8086/flight/;
  }

  location /api/v1/flights {
    proxy_pass http://flight:8086/flight/api/v1/flights;
  }

  location /airspace/ {
    proxy_pass http://airspace:8087/airspace/;
  }

  location /api/v1/airspace {
    proxy_pass http://airspace:8087/airspace/api/v1/airspace;
  }

  location /telemetry/ {
    proxy_pass http://telemetry:8089/telemetry/;
  }

  location /api/v1/telemetry {
    proxy_pass http://telemetry:8089/telemetry/api/v1/telemetry;
  }

  location /simulation/ {
    proxy_pass http://simulation:8090/simulation/;
  }

  location /api/v1/simulation {
    proxy_pass http://simulation:8090/simulation/api/v1/simulation;
  }

  location /conflict/ {
    proxy_pass http://conflict:8092/conflict/;
  }

  location /api/v1/conflicts {
    proxy_pass http://conflict:8092/conflict/api/v1/conflicts;
  }

  location /backoffice-bff/ {
    proxy_pass http://backoffice-bff:8082/backoffice-bff/;
  }

  location /swagger-ui/ {
    proxy_pass http://swagger-ui:8080;
  }
}

server {
  server_name identity.utm.local identity;
  location / {
    proxy_pass http://identity:80;
  }
}

server {
  server_name pgadmin.utm.local;
  location / {
    proxy_pass http://pgadmin;
  }
}