# Platform
ENV_PLATFORM=local
NGINX_PORT=8081

# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_LOCAL_PORT=54320

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

URLS=[{ url: '/user/v3/api-docs', name: 'User Service' }, { url: '/backoffice-bff/v3/api-docs', name: 'Backoffice BFF' }]

# Docker Compose default files
COMPOSE_FILE=docker-compose.yml